main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  position: relative;
}
.nav {
    width: 100%;
    background-color: rgb(78, 40, 248);
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.nav_Btn {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-family: Montserrat;
  font-weight: 600;
  font-size: x-large;
  transition: 0.3s;
}
.nav_Btn:hover{
    scale: 1.1;
}